.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.center {
  margin: auto;
  width: 25%;
  min-width: 200px;
  padding: 10px;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

textarea {
  resize: vertical;
}

header:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

#portrait {
  border:1px solid black;
  border-radius: 3px;
  margin-top: 10vh;
  margin-bottom: 5vh;
  width: 70%;
  height: auto;
}

#layout,
#menu,
.menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  padding-left: 0;
}

#layout.active #menu {
  left: 200px;
  width: 200px;
}

#layout.active .menu-link {
  left: 200px;
}

.content {
  margin: 0 auto;
  padding: 0 2em;
  padding-top: 2em;
  max-width: 900px;
  margin-bottom: 50px;
  line-height: 1.6em;
}


.inside {
  position: absolute;
  display: table;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  top: 70%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: .9em;
  color: #c6c6c6;
}

.dials {
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}

.time {
  font-size: 400%;
  display: inline;
  position: relative;
}

.desc {
  font-size: 90%;
  display: inline;
  position: relative;
  bottom: 2.5em;
}

.containerWrap{
  position: relative;
  display: inline-block;
}

#menu {
  margin-left: -200px;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 150%;
  z-index: 100;
  background: #191818;
}

#menu .pure-menu {
  overflow-y: auto;
  height: 66.6%;
  -webkit-overflow-scrolling: touch;
}

#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
  cursor: pointer;
}

#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

#menu .pure-menu-selected,
#menu .pure-menu-heading {
  background: #1f8dd6;
}

#menu .pure-menu-selected a {
  color: #fff;
}

#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
  padding: 17.5px;
}

.menu-link {
  position: fixed;
  display: block;
  box-shadow: 3px 0 3px rgba(0,0,0, 0.20);
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.7);
  font-size: 12px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 0.9em 1.5em;
}

.menu-link:hover {
  background: #191818;
}

.bar1, .bar2, .bar3 {
  width: 3em;
  height: 0.25em;
  background-color: white;
  margin: 0.55em -0.6em;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: translate(0, 0.81em) rotate(-45deg) ;
  transform: translate(0, 0.81em) rotate(-45deg) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: translate(0, -0.81em) rotate(45deg) ;
  transform: translate(0, -0.81em) rotate(45deg) ;
}

@media (min-width: 53em) {
  .header,
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }
  #layout {
    padding-left: 200px;
    left: 0;
  }
  #menu {
    left: 200px;
    box-shadow: 3px 0 3px rgba(0,0,0, 0.20);
  }
  .menu-link {
    position: fixed;
    left: 200px;
    display: none;
  }
  #layout.active .menu-link {
    left: 200px;
    position: fixed;
  }
  .top-menu {
    padding-left: 200px;
  }
}

@media (max-width: 53em) {
  #layout.active {
    top: 0; left:0;
  }
  #menu.active {
    box-shadow: 3px 0 3px rgba(0,0,0, 0.20);
  }
  .top-menu {
    padding-left: 4em;
  }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6}
  to {opacity: 1}
}

.container {
  width: 90%;
  margin: 0 auto;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}

.timeline-item::before {
  content: attr(date-is);
  position: absolute;
  left: 2em;
  font-weight: bold;
  top: 1em;
  display: block;
  font-weight: 700;
  font-size: .8rem;
}
.timeline-item::after {
  width: 10px;
  height: 10px;
  display: block;
  top: 1em;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
}
.timeline-item:last-child {
  -o-border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
  border-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 60%, transparent) 1 100%;
}
