body {
  color: #777;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: #eee;
  border-width: 0.01em;
}

.header {
  margin: 0;
  color: #fff;
  text-align: center;
  padding: 1em 1em 0;
}

.header h1 {
  margin: 0em 0;
  font-size: 3em;
  font-weight: 300;
}

h1, h2 {
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.button-secondary {
  background: #fff;
  color: #666;
  border: 1px solid #ddd;
}

.header-button {
  font-size: 125% !important;
  margin-bottom: 1em;
}

#top {
  position: fixed;
  bottom: 2.5em;
  right: -6em;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.20);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.wrap {
  white-space: normal !important;
  line-height: 140%;
}

.home-menu {
  box-shadow: 0 3px 3px rgba(0,0,0, 0.20);
  background: #2d3e50;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu a.top:link, a.top:visited {
  padding: 1vw;
  color: #6FBEF3;
}

.home-menu li a.top:hover,
.home-menu li a.top:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

.footer {
  font-size: 87.5%;
  border-top: 1px solid #eee;
  padding: 1.1429em;
  background: rgb(250, 250, 250);
}

a:link {
  text-decoration: none;
  color: #1E90FF;
}

a:visited {
  text-decoration: none;
  color: #6A5ACD;
}

a:hover, a:active {
  text-decoration: underline;
  color: #6FBEF3;
}

.background-parent{
  position: fixed;
  will-change: transform;
  left: 50%;
  top: 0;
  z-index: -10;
}

.background {
  position: absolute;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.scroll-over {
  background-color: white;
  overflow: hidden;
}

.top-menu {
  padding-top: .5em;
  padding-bottom: .5em;
  -webkit-transition: padding-left 0.3s ease-out;
  -moz-transition: padding-left 0.3s ease-out;
  -ms-transition: padding-left 0.3s ease-out;
  -o-transition: padding-left 0.3s ease-out;
  transition: padding-left 0.3s ease-out;
}

.home-menu-social {
  text-align: right;
}

.social-icons {
  width: 2em;
  height: auto;
  float: left;
}

.social-icons-menu {
  width: 2.8em !important;
}

.social-icons:hover {
  filter: brightness(110%);
}

#img {
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
  transition: opacity .40s ease-in-out;
  -moz-transition: opacity .40s ease-in-out;
  -webkit-transition: opacity .40s ease-in-out;
}

#small {
  display: none;
}

#tiny {
  display: none;
}

#img:hover {
  opacity: 0.9;
}

.lightbox-target {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 100%;
  width: 100%;
  z-index: 1000;
  background: rgba(0,0,0,.8);
  opacity: 0;
  -webkit-transition: .8s ease-in-out;
  -moz-transition: .8s ease-in-out;
  -o-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.lightbox-target img {
  margin: auto;
  position: fixed;
  z-index: 200;
  top: -200%;
  left:0;
  right:0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  border: 3px solid white;
  box-shadow: 0px 0px 10px rgba(0,0,0,.9);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.lightbox-target button {
  position: fixed;
  top: 1em;
  right: -4.5em;
  z-index: 999;
  box-shadow: 3px 3px 3px rgba(0,0,0, 0.20);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.lightbox-target:target {
  opacity: 1;
  bottom: 0;
}

.lightbox-target:target img {
  top: 0;
  left:0;
}

.lightbox-target:target button {
  right: 1em;
}

#arrow {
  vertical-align: middle;
  width: 1.3em;
  transition: all 0.2s ease-in-out;
  transform: rotate(180deg);
}

#dropdown {
  cursor: pointer;
}

.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-heading {
  text-transform: uppercase;
  color: #565d64;
  font-size: 120%;
}

.sub-menu-parent:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.sub-menu-parent:hover #arrow {
  transform: rotate(0deg);
}

.sub-menu-parent:hover #dropdown {
  border-radius: 2px;
  background-color: rgb(38, 51, 64);
  -moz-box-shadow:    inset 0 0 8px rgba(0,0,0, 0.40);
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0, 0.40);
  box-shadow:         inset 0 0 8px rgba(0,0,0, 0.40);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav a {
  display: block;
  text-decoration: none;
}

nav ul,
nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  border-left: solid 1px #aaa;
}

nav > ul > li > ul > li{
  padding: .7em;
}

nav > ul > li:first-child {
  border-left: none;
}

.sub-menu {
  background: #FFF;
  padding: .8em;
  box-shadow: 3px 3px 13px rgba(0,0,0, 0.40);
  border-radius: 2px;
  top: 3.5em;
}

@media (max-width: 45em) {
  #large {
    display: none;
  }
  #small {
    display: block;
  }
}

@media (max-width: 25em) {
  #small2 {
    display: none;
  }
  #tiny {
    display: inline-block;
  }
}
